@import '../common/styles/sass/variables.scss';
.header {
    height: 80px;
    background-color: $bgThirdColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        text-decoration: none;
    }
}
