@import "../common/styles/sass/variables";
@import '../common/styles/sass/mixins';

.contactsBlock {
  background-color: $bgColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .title {
      @include text(2.5rem, 0, 3rem, 1.2, $textColor);
      font-family: $fontFamily;
      font-weight: 700;
      margin-bottom: 1.0em !important;
      margin-top: 1.0em !important;
      text-align: center;
      position: relative;

      &::before {
        content: '';
        width: 120px;
        height: 2px;
        background: black;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}









