@import '../common/styles/sass/variables.scss';

.mainBlock {
  min-height: 90vh;
  background-color: $bgFourColor;
  display: flex;
  align-items: center;
  margin-top: 80px;

  .mainContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: 753px) {
      justify-content: center;
    }

    .greeting {
      width: 600px;
      background-color: $bgFourColor;
      text-align: center;

      span, p {
        font-size: 25px;
        font-weight: bolder;
        margin-top: 10px;
      }

      h1 {
        font-size: 60px;
        font-weight: bolder;
        margin: 0;
        color: $bgThirdColor;
      }
    }

    .photo {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background-image: url("../assets/image/photo.jpg");
      background-size: cover;
      background-position: center;
      @media screen and (max-width: 611px) {
        height: unset;
        padding-bottom: 100%;
      }
    }
  }
}





