@import '../../styles/sass/variables';

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type=submit] {
  background-color: $bgThirdColor;
  color: black;
  font-weight: 600;
  padding: 15px 15px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  border: 1px solid transparent;
}

input[type=submit]:hover {
  border: 1px solid #33a3b6;
  background-color: lighten($bgThirdColor, 10%);
}

.container {
  min-width: 400px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ccc;
  padding: 20px;
  margin-bottom: 20px;
  @media screen and (max-width: 500px) {
    min-width: 300px;
  }
}

.col {
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
