@import '../../styles/sass/variables';

.container {
  z-index: 100000;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    width: 200px;
    height: 200px;
    display: flex;
    background-color: transparent;
    @media screen and (max-width: 450px) {
      width: 160px;
      height: 100px;
    }
  }
}
