.project {
    width: 300px;
    background-color: #c4fef9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    background-color: lightgrey;
}

.icon {
    width: 100%;
    height: 200px;
    background-image:url("https://static7.depositphotos.com/1008939/762/i/450/depositphotos_7627179-stock-photo-project.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a{
    font-size: 25px;
    text-decoration: none;
    background-color: #fef19e;
}
.titleProject{
    background-color: lightgrey;
}