@import '../common/styles/sass/variables.scss';

.footerBlock {
  /*min-height: 20vh;*/
  background-color: $bgThirdColor;
  .footerContainer {
    flex-direction: column;
    justify-content: space-between;

    .title {
      margin: 0;
      text-align: center;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      width: 250px;
      margin-top: 5px;
      margin-bottom: 5px;

      .footerElements{
        width: 30px;
        height: 30px;
        background-size:cover;
        background-repeat: no-repeat;

      }
    }
  }
}






